@model wellcare.Models.caretakerLogin

<h2>Caretaker Login</h2>

<form asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Login</button>
</form>
<hr />

<p>
    Don’t have an account?
    <a asp-controller="caretakerRegister" asp-action="Register">
        Register here
    </a>
</p>
<a asp-controller="Password" asp-action="Forgot">
    <button>
        Forgot password
    </button>
</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@if (TempData["message"] != null)
{
    <script>
        alert('@TempData["message"]');
    </script>
}